@use "./base/reset";
@use "./base/variables" as *;
@use "./base/fonts";
@use "./base/mixins" as *;

// h1 {
//   @include bold(4rem, 5rem);
// }

.app {
  width: 90%;
  margin: 0 auto;
  max-width: 1500px;
  background-color: lightgrey;
  min-height: 50px;
  padding: 2rem;
  &__header {
    @include bold(4rem, 5rem, $pink);
  }
  &__grid {
    @include grid(200px, 2rem);
  }
}
/* style to implement icon within div via after */
// div::after {
//   content: "";
//   left: 0;
//   top: 0;
//   display: block;
//   @include icon("icon-checked", $green, 2rem);
// }
