@use "./base/reset";
@use "./base/variables" as *;
@use "./base/fonts";
@use "./base/mixins" as *;

body {
  overflow-y: scroll;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
  color: white;
}
.app {
  width: 90%;
  margin: 0 auto;
  max-width: 1500px;
  background-color: lightgrey;
  min-height: 50px;
  padding: 2rem;
  .split {
    display: grid;
    grid-template-columns: calc(75% - 2rem) 25%;
    gap: 2rem;
  }
  &__form {
    position: relative;

    &__input {
      display: block;
      width: 100%;
      height: 3rem;
      @include regular();
      padding: 2rem;
      padding-right: 4rem;
      margin: 1rem 0;
      outline: none;
    }
    &__reset {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 2.5rem;
      height: 2.5rem;
      &::after {
        content: "";
        @include icon("icon-delete", $pink, 2.5rem);
      }
    }
  }

  &__header {
    @include bold(4rem, 5rem, $pink);
    display: flex;
    justify-content: space-between;
  }
  &__likedgrid {
    min-height: 300px;
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      margin-bottom: 1rem;
      img {
        @include responsive;
        width: 75px;
      }
      &__text {
        @include bold(1.5rem, 1.5rem, $blue);
      }
    }
  }
  &__grid {
    @include grid(175px, 2rem);
    grid-auto-rows: min-content;
    &__item {
      position: relative;
      overflow: hidden;
      &:hover {
        .app__grid__item__text {
          bottom: 0;
          opacity: 1;
        }
        .app__grid__item__image {
          transform: scale(1.15);
        }
      }
      &__image {
        transition: all 150ms;
      }
      &__text {
        transition: bottom 150ms 0ms, opacity 800ms 75ms;
        position: absolute;
        left: 0;
        bottom: -4rem;
        opacity: 0;
        background-color: rgba($blue, 0.8);
        @include bold(2rem, 2rem, white);
        padding: 1rem;
        width: 100%;
        text-align: center;
      }
      &__icon {
        position: absolute;
        z-index: 1;
        top: 1rem;
        right: 1rem;
        width: 3rem;
        height: 3rem;
        &--heart {
          &::after {
            content: "";
            @include icon("icon-heart", $pink, 2.5rem);
          }
        }
        &--heart-o {
          &::after {
            content: "";
            @include icon("icon-heart-o", $pink, 2.5rem);
          }
        }
      }
    }
  }
}

.popup {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2;
  position: fixed;
  display: none;
  backdrop-filter: blur(10px);
  overflow-y: scroll;
  &.open {
    display: block;
  }
  button {
    position: absolute;
    top: 5rem;
    right: 5rem;
  }
  .loading {
    margin-top: 5rem;
  }
  .data {
    display: none;
    > * {
      margin-bottom: 2rem;
      padding: 0 40px;
    }
    .title {
      margin-top: 2rem;
      font-size: 5rem;
      text-transform: uppercase;
    }
    .instructions {
      line-height: 3rem;
    }
    .image {
      @include responsive;
      width: 50%;
      margin: 10px auto;
    }
    h3 {
      font-size: 3rem;
    }
    ul li {
      margin-bottom: 10px;
    }
  }
}

body:has(.popup.open) {
  overflow-y: scroll; //altijd scroll tonen, ook als niet nodig
  /* bug: after scrolling and opening popup body goes to scrolltop 0*/
  position: fixed;
  width: 100%;
}
